<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="refresh" content="30">
		<link rel="stylesheet" href='/static/style_green.css' />
	</head>
	<body>
		<div class="container">
			<div><h2>{{ locn }}</h2></div>
			<div><h3>Current estimated area occupancy:</h3></div>
			<div class="box"><h1>{{ curocc }}%</h1></div>
			<div class="box2"><h3>Max occupants: {{ maxcap }}</h3></div>
			<div><h4><i>Please note: This system does not use personally identifiable information to determine occupancy</i></h4></div>
		</div>
	</body>
</html>
