<!DOCTYPE html>
<html>
        <head>
		<meta http-equiv="refresh" content="300">
                <link rel="stylesheet" href='/static/index_new.css' />
        </head>
        <body>
                <div class="container">
                        <div><h2>Welcome to CBOT*</h2></div>
						<div><h1>Click one of the links below to display current occupancy for that location.</h1></div>
                        <div class="grid-container">
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/orch_1_dining_hall/" target="_blank">Orchard Commons Dining Hall</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/orch_3_study_area/" target="_blank">Orchard Commons 3 study area</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/orch_4_study_area/" target="_blank">Orchard Commons 4 study area</a></div>  
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/pond_north_study_area/" target="_blank">Ponderosa North study area</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/irc_study_zone/" target="_blank">IRC study area</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ubc_life_ground_level/" target="_blank">UBC Life ground level</a></div> 
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ubc_life_second_level/" target="_blank">UBC Life second level</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ams_nest_lower_level/" target="_blank">AMS Nest Lower Level</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ams_nest_first_floor/" target="_blank">AMS Nest First Floor</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ams_nest_second_floor/" target="_blank">AMS Nest Second Floor</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ams_nest_third_floor/" target="_blank">AMS Nest Third Floor</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/ams_nest_fourth_floor/" target="_blank">AMS Nest Fourth Floor</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/west_mall_swing_space_level_1/" target="_blank">West Mall Swing Space Level 1</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/west_mall_swing_space_level_2/" target="_blank">West Mall Swing Space Level 2</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/west_mall_swing_space_level_3/" target="_blank">West Mall Swing Space Level 3</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/west_mall_swing_space_level_4/" target="_blank">West Mall Swing Space Level 4</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/west_mall_swing_space_level_5/" target="_blank">West Mall Swing Space Level 5</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/iblc_level_1/" target="_blank">IBLC Level 1</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/iblc_level_2/" target="_blank">IBLC Level 2</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/iblc_level_3/" target="_blank">IBLC Level 3</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/iblc_level_4/" target="_blank">IBLC Level 4</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/msl/" target="_blank">Michael Smith Laboratories</a></div>
							<div class="grid-item"><a href="https://wifioccupy.netcom.ubc.ca/cbot/nce/" target="_blank">NCE Labs (Levels 3 & 4)</a></div>
						</div>
						<div><h3>(*COVID-19 Building Occupancy Thing)</h3></div>
						<div><h3><i>Please note: This system does not use personally identifiable information to determine occupancy</i></h3></div>
                </div>
        </body>
</html>
